<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
    xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
    <persistence-unit name="amx-persistence-unit" transaction-type="RESOURCE_LOCAL">
        <!-- provider>org.eclipse.persistence.jpa.PersistenceProvider</provider -->
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        
        <!-- MYSql 的连接 -->
        <properties>
            <property name="hibernate.connection.driver_class" value="${jdbc.driver}" />
            <property name="hibernate.connection.url" value="jdbc:mysql://${jdbc.host}:${jdbc.port}/${jdbc.database}?createDatabaseIfNotExist=${jdbc.createTable}&amp;characterEncoding=${jdbc.characterEncoding}&amp;autoReconnect=${jdbc.autoReconnect}&amp;autoReconnectForPools=${jdbc.autoReconnect}&amp;failOverReadOnly=false" />
            <property name="hibernate.connection.username" value="${jdbc.user}" />
            <property name="hibernate.connection.password" value="${jdbc.password}" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.show_sql" value="${jdbc.showSql}" />
            <property name="hibernate.format_sql" value="${jdbc.formatSql}" />
        </properties>
    </persistence-unit>
</persistence>