<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.2.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
         http://www.springframework.org/schema/mvc 
         http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
         http://www.springframework.org/schema/data/jpa  
         http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<!-- 加载属性配置文件 -->
	<!-- 此处加载的属性配置文件，在web.xml 及本文件加载的配置文件中均不能使用EL，故提前到web.xml中使用自定义Listener加载 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- <value>classpath:com/amx/config/common.properties</value> -->
				<!-- <value>classpath:com/amx/config/jdbc.properties</value> -->
			</list>
		</property>
	</bean> 

	<!-- 开启IOC注解扫描 -->
	<context:component-scan base-package="com.amx.dataservice"></context:component-scan>
	
	<!-- 开启MVC注解扫描 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 对静态资源文件的访问，将无法mapping到Controller的path交给default servlet handler处理-->
	<mvc:default-servlet-handler /> 
    
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/view/" />
                    <property name="suffix" value=".html" />
                </bean>
            </list>
        </property>
        <!-- 用于将对象转换为 JSON -->
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
            </list>
        </property>
    </bean>
    	
	<!-- JPA -->
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="database" value="MYSQL" />
            </bean>
        </property>
        <property name="persistenceUnitName" value="amx-persistence-unit" />
        <property name="persistenceXmlLocation" value="${common.configPath}persistence.xml" />
    </bean>
    
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <!-- 启用 注解 事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- 配置Spring Data JPA扫描目录 -->
    <jpa:repositories base-package="com.amx.dataservice.dao" />
</beans>
